
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: ;
}
.container{
    display: grid;
    grid-template-columns: repeat(16, minmax(0, 1fr));
    grid-template-rows: repeat(16, minmax(0, 1fr));
    height: 900px;
    width: 900px;
    border: solid crimson 5px;
    border-radius: 6px;
}
.box {
    border: 1px solid black;
}
.drawing {
    background-color: aqua;
}
